<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title><%= title %></title>

<!--  OG tags  -->
<meta name="description" content="A simple forum with Express" />
<meta name="keywords" content="Express,Node.js,MySQL,Sequelize,Bootstrap" />
<meta name="author" content="Wenwen Cheng" />
<meta property="og:title" content="<%= title %>" />
<meta property="og:type" content="website" />
<meta property="og:description" content="A simple forum with Express" />
<meta property="og:url" content="http://forum.wenwen.tw/" />
<meta property="og:image" content="https://bcc53877d7aa0a135b9a-1452ca75bf8985207bb5b0c44a65ef28.ssl.cf4.rackcdn.com/Product-800x800/f1edd05f-4ac2-4e00-96c5-3c4160c252be.jpg" />

<!--  CSS  -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" media="screen" href="/css/style.css" />